.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 80px 170px;
}

.education-title{
    position: relative;
}

.education-title h1{
    padding: 10px 30px;
    font-size: 50px;
    font-weight: 600;
}

.education-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    padding: 40px;
    border-radius: 40px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.education-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 10px;
}

.education-format h2{
    font-size: 38px;
    font-weight: 600;
    background: linear-gradient(350deg,#2c9a26bc 50%, #13e10fc9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.education-format h3{
    font-size: 28px;
    font-weight: 800;
    background: linear-gradient(270deg,#DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.education-format h4{
    justify-content: center;
    color: #d4d4d4ec;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.education-format:hover{
    border: 2px solid #0cdd8d;
    background-image: linear-gradient(45deg, #4e4a73, #543737);
    transform: scale(1.05);
    transition: 0.4s;
}

@media(max-width:768px) {
    .education{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }
    .education-title h1{
        padding: 0;
        font-size: 30px;
        padding-left: 80px;
    }
    .education-format{
        gap: 20px;
        padding: 32px;
    }
    .education-format h2{
        font-size: 28px;
        max-width: 300px;
    }
    .education-format h3{
        font-size: 18px;
    }
    .education-format h4{
        font-size: 18px;
        
    }
    .education-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
